.article {
  margin-bottom: 3rem;
}

.articleButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.articePageDownload-buttons {
  display: flex;
}

.articlePDF {
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.75rem;
  border-radius: 0.1rem;
  transition: all 0.3s;
  margin-right: 1rem;
}
.articlePDF:hover {
  background-color: white;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.12);
}
.downloadArticleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--main-color);
  margin-right: 0.5rem;
  border-radius: 0.1rem;
}
.articlePDF img {
  width: 1.2rem;
  height: 1.2rem;
}

.articlePage-zenodo {
  display: flex;
  align-items: center;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ff3700;
  transition: all 0.3s;
  border: 2px solid #ff3700;
  color: white;
  padding: 0 0.9rem;
}
.articlePage-zenodo:hover {
  background-color: white;
  color: #ff3700;
}

.articleItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.articleTitle {
  width: 80%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--main-color);
}

.articleAuther {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.articleContent p {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: justify;
}
.articleContent pre {
  display: inline-block;
  background-color: white;
  padding: 2rem;
  border-radius: 0.1rem;
  font-size: 1.25rem;
}
